<main layout:decorate="~{templates/templateMain}" layout:fragment="content"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1 th:text="#{header.change.password}"></h1>
            </div>
        </div>
        <div class="row">
            <div class="alert alert-danger col-sm-7" th:if="${errorMsg} != null">
                <span class="glyphicon glyphicon-exclamation-sign "></span>	<span th:text="${errorMsg}"></span>
            </div>
            <div class="alert alert-success col-sm-7" th:if="${infoMsg} != null">
                <span class="glyphicon glyphicon-exclamation-sign "></span>	<span th:text="${infoMsg}"></span>
            </div>
        </div>
        <form method="POST" th:action="@{/admin/change/password}" id="changePassword" th:attr="data-language=${#locale.language}">
            <span th:if="${error != null}" th:text="${error}" class="error"></span>
            <ul>
                <div class="form-group"><label for="oldPassword" th:text="#{change.password.old.password}"></label><input id="oldPassword" name="oldPassword" type="password" th:placeholder="#{change.password.old.password}"  class="form-control"></div>
                <div class="form-group"><label for="newPassword" th:text="#{change.password.new.password}"></label><input id="newPassword" name="newPassword" type="password" th:placeholder="#{change.password.new.password}"  class="form-control"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block raised">
                        <span th:text="#{button.save}"></span>
                    </button>
                </div>

            </ul>
        </form>
    </div>
</main>