<th:block>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>

    <title>Web Application Firewall</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <title>Web Application Firewall</title>
    <link th:href="@{/static-resources/styles/bootstrap.min.css}" href="styles/bootstrap.min.css"
          rel="stylesheet" />
    <link th:href="@{/static-resources/styles/bootstrap-formhelpers.min.css}" href="styles/bootstrap-formhelpers.min.css"
          rel="stylesheet" />
    <link th:href="@{/static-resources/styles/font-awesome.min.css}" href="styles/font-awesome.min.css"
          rel="stylesheet"/>
    <link th:href="@{/static-resources/styles/style.css}" href="styles/style.css" rel="stylesheet"/>
    <script th:src="@{/static-resources/js/libs/jquery-3.2.1.min.js}" src="/static-resources/js/libs/jquery-3.2.1.min.js">
    </script>
    <script th:src="@{/static-resources/js/libs/bootstrap.min.js}" src="/static-resources/js/libs/bootstrap.min.js">
    </script>
    <script th:src="@{/static-resources/js/libs/bootstrap-formhelpers.min.js}" src="/static-resources/js/libs/bootstrap-formhelpers.min.js">
    </script>
    <script th:src="@{/static-resources/js/main.js}" type="text/javascript" src="/static-resources/js/main.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

</th:block>