<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>demo-waf</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/web-servlet.xml
            /WEB-INF/web-security.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/web-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>



    <filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
	</filter-mapping>


	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>

	</filter-mapping>

<!--	<welcome-file-list>
		<welcome-file>sec/login/</welcome-file>
	</welcome-file-list>-->
	
	<session-config>
		<session-timeout>9999</session-timeout>
	</session-config>


    <!--==================================================================================================================================-->
    <!-- KsWaf Security Filter  -->
    <!--==================================================================================================================================-->
<!--    <filter>
        <filter-name>KsWafFilter</filter-name>
        <filter-class>com.com.ks.filter.KsWafFilter</filter-class>
        <init-param>
            <param-name>ApplicationName</param-name>
            <param-value>ApplicationName</param-value>
        </init-param>
        <init-param>
            <param-name>ProductionMode</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>AttackLogDirectory</param-name>
            <param-value>/tmp/KsWaf/logs</param-value>
        </init-param>
        <init-param>
            <param-name>DatabaseDirectory</param-name>
            <param-value>/tmp/KsWaf/database</param-value>
        </init-param>
        <init-param>
            <param-name>RedirectWelcomePage</param-name>
            <param-value>/app/</param-value>
        </init-param>
        <init-param>
            <param-name>HandleUncaughtException</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>BlockNonLocalRedirects</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>QueryStringEncryption</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>ParameterAndFormProtection</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>LogVerboseForDevelopmentMode</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>KsWafFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>-->
</web-app>
